[submodule "Submodules/ShareKit"]
	path = Submodules/ShareKit
	url = git://github.com/ShareKit/ShareKit.git
[submodule "Submodules/MBProgressHUD"]
	path = Submodules/MBProgressHUD
	url = git://github.com/matej/MBProgressHUD.git
